body{
  background-image: url("https://i.imgur.com/crQ7R1w.jpg");
  margin: 0px;
  padding: 3px;
}
.background{
  background-color:pink ;
}
.home-page {
    text-align: center;
    background-color: pink;
    color: rgb(61, 12, 110);
}
.header-words{
  margin:20px;
  color:rgb(124, 6, 6);
}
nav{
  display:flex;
  justify-content:flex-end;
  padding: 20px;
  border-radius: 10px;
  text-decoration: violet;
  background-image: linear-gradient(rgb(226, 163, 120), rgb(219, 126, 140), pink);
}
.container {
    width: 700px;
    background-image: linear-gradient(315deg, pink , coral ,pink);
}
.container-two {
  height: 90vh;
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
p{
  background-color: rgb(180, 38, 61);
  text-align: center;
  color: #e2989c;
  font-size: xxx-large;
}
.cell {
  font-size: large;
  text-align: left;
  padding: 40px;
}
  .text {
    color: rgb(167, 27, 85);
    padding: 30px;
    background-image: linear-gradient(315deg, #db8d8d ,pink );
    background-size: 100% ;
}
ul{
  font-size: x-large;
  color:#80316c
}
h4{
    text-align: center;
}
a:any-link{
  color: saddlebrown;
}
a:hover {
  background-color: rgb(145, 94, 179);
  text-decoration: none;
}
img{
  height: 300px;
  top: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-content: center;
  border-radius: 25px;
  border: 3px double #e2a2d2;
}
.cell-1{
  background-color: rgb(230, 139, 103);
  border: 5px dotted rgb(219, 126, 140);
}
.cell-2{
  background-color: #d99b82;
  border: 5px dotted rgb(219, 126, 140);
  text-align:center;
}
  .cell-3{
  background-color: #e5ccc9;
  border: 5px dotted rgb(219, 126, 140);
}
.cell-4{
  background-color: #c08081;
  border: 5px dotted rgb(219, 126, 140);
}
.cell-5{
  background-color: #b57281;
  border: 5px dotted rgb(219, 126, 140);
}
.cell-6{
  background-color: #ab4e52;
  border: 5px dotted rgb(219, 126, 140);
}
.cell-7{
  background-color: #933d41;
  border: 5px dotted rgb(219, 126, 140);
}
.cell-8{
  background-color: #915f6d;
  border: 5px dotted rgb(219, 126, 140);
}
.cell-9{
  background-color: #a95c68;
  border: 5px dotted rgb(219, 126, 140);
}
.portfolio-section{
  background-color:pink;
}