html{
  background-image: url("https://i.imgur.com/crQ7R1w.jpg");
  margin: 50px auto;
  padding: 3px;
  border: 25px dotted #e2a2d2;
}
.home-page {
    text-align: center;
    background-color: pink;
    color: rgb(61, 12, 110);
}
.container {
    display: flex;
    justify-content:right;
    width: 500px;
    background-color: #cfc7f8;
    background-image: linear-gradient(315deg, #cfc7f8 0%, #ebbba7 74%);
  }
  .image {
    order: 2;
  }
  .text {
    color: rgb(218, 183, 183);
    padding-left: 30px;
    background-image: linear-gradient(315deg, #a72c88 0%, #cd6bda 74%);
  }
  h4{
    text-align: center;
  }
img{
  height: 250px;
  top: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-content: center;
  border-radius: 25px;
  border: 3px double #e2a2d2;
}